[Desktop Entry]
Version=1.0
TryExec=updf
Encoding=UTF-8
Name=uPDF
GenericName=PDF viewer
Exec=updf %u
Terminal=false
Categories=Application;FLTK;Viewer;Office;
Icon=updf.png
MimeType=application/pdf;
Comment=PDF viewer
Type=Application
