[Desktop Entry]
Version=0.1.1
TryExec=updf
Encoding=UTF-8
Name=uPDF
GenericName=PDF Viewer
Exec=updf %u
Terminal=false
Categories=Application;FLTK;Viewer;Office;
Icon=updf
MimeType=application/pdf;
Comment=PDF viewer
Type=Application
